<div class="p-4 max-w-3xl mx-auto">
  <ng-container *ngIf="filteredRecipes$ | async as recipes">

    <div class="search-bar">
      <input
        class="border rounded px-3 py-2 w-full"
        placeholder="Search recipes or ingredients…"
        [(ngModel)]="query"
        (ngModelChange)="onQueryChange($event)"
      />
      <a routerLink="/recipes/new" class="underline whitespace-nowrap">+ New</a>
    </div>

    <p class="no-results" *ngIf="!recipes.length">No recipes found.</p>

    <ul class="recipe-list" *ngIf="recipes.length">
      <li *ngFor="let r of recipes; trackBy: trackById" class="border rounded p-3">
        <a [routerLink]="['/recipes', r.id]" class="font-medium underline">{{ r.title }}</a>
        <p class="text-gray-700" *ngIf="r.description">{{ r.description }}</p>

        <div *ngIf="hasNamedIngredients(r)">
          <span class="text-sm text-gray-600">Ingredients:</span>
          <ul class="list-disc ml-6">
            <ng-container *ngFor="let ing of r.ingredients">
              <li *ngIf="ing?.name">
                {{ ing.name }}<span *ngIf="ing?.qty"> – {{ ing.qty }}</span>
              </li>
            </ng-container>
          </ul>
        </div>

        <div class="actions">
          <button
            type="button"
            (click)="addRecipeToGrocery(r, $event)"
            [disabled]="!hasNamedIngredients(r)"
            [attr.aria-label]="'Add ' + (r?.title ?? 'recipe') + ' to grocery list'"
          >
            Add to grocery list
          </button>

          <a
            [routerLink]="['/recipes', r.id, 'edit']"
            [attr.aria-label]="'Edit recipe ' + (r?.title ?? '')"
          >
            Edit
          </a>

          <button
            type="button"
            (click)="confirmRemove(r, $event)"
            [attr.aria-label]="'Remove recipe ' + (r?.title ?? '')"
          >
            Remove
          </button>
        </div>
        
      </li>
    </ul>
  </ng-container>
</div>

